In [2]:
from api_endpoints import api_teams

In [3]:
teams = api_teams()
teams_id = []
for team in teams["teams"]:
    teams_id.append(team["id"])

In [4]:
print(len(teams_id), len(teams_id[0]))

535 36

In [5]:
from api_endpoints import api_team_roasters

First, fill the parent tables of team
1. from team roasters ep  
    1. conferences
    2. divisions
    3. venues
2. then teams

In [ ]:
roaster_info = api_team_roasters(teams_id[0])

In [9]:
roaster_info

{'id': '30abfee7-57a7-4984-9a1c-55cb28970da3',
 'name': '49ers',
 'market': 'Charlotte',
 'alias': 'CHAR',
 'founded': 1946,
 'mascot': 'Norm the Niner',
 'fight_song': 'Charlotte 49ers Fight Song',
 'championships_won': 0,
 'conference_titles': 0,
 'playoff_appearances': 0,
 'franchise': {'id': '30abfee7-57a7-4984-9a1c-55cb28970da3', 'name': '49ers'},
 'venue': {'id': '5189127d-ea58-4917-84b8-8456f3abb8b2',
  'name': 'Jerry Richardson Stadium',
  'city': 'Charlotte',
  'state': 'NC',
  'country': 'USA',
  'zip': '28262',
  'address': '9201 University City Boulevard',
  'capacity': 15314,
  'surface': 'artificial',
  'roof_type': 'outdoor',
  'location': {'lat': '35.3105', 'lng': '-80.7401'}},
 'division': {'id': '43d3cede-6b8f-4158-bc7f-c3c7365e5b32',
  'name': 'I-A',
  'alias': 'FBS'},
 'conference': {'id': '49602742-5d66-412e-8a58-ab1e613d593c',
  'name': 'American',
  'alias': 'AAC'},
 'coaches': [{'id': '35ccf611-95e3-40b0-8de1-986a72aa5020',
   'full_name': 'Tim Albin',
   'first_name': 'Tim',
   'last_name': 'Albin',
   'position': 'Head Coach'}],
 'players': [{'id': '0df3ae40-74bd-11f0-addf-d95e01ada62f',
   'name': 'Takeo Massey',
   'jersey': '94',
   'last_name': 'Massey',
   'first_name': 'Takeo',
   'abbr_name': 'T.Massey',
   'weight': 205.0,
   'height': 75,
   'position': 'DL',
   'birth_place': 'Charlotte, NC, USA',
   'status': 'ACT',
   'eligibility': 'FR'},
  {'id': '0ffc9700-8ecb-11ec-8d02-85ead82574a9',
   'name': 'CJ Clinkscales Jr.',
   'jersey': '12',
   'last_name': 'Clinkscales',
   'first_name': 'CJ',
   'abbr_name': 'C.Clinkscales',
   'weight': 175.0,
   'height': 68,
   'position': 'DB',
   'birth_place': 'Buford, GA, USA',
   'status': 'ACT',
   'eligibility': 'JR',
   'name_suffix': 'Jr.'},
  {'id': '10626c40-5513-11ef-830c-e539946aedf9',
   'name': 'Derrick Eley',
   'jersey': '89',
   'last_name': 'Eley',
   'first_name': 'Derrick',
   'abbr_name': 'D.Eley',
   'weight': 170.0,
   'height': 72,
   'position': 'WR',
   'birth_place': 'Huntersville, NC, USA',
   'status': 'ACT',
   'eligibility': 'FR'},
  {'id': '109eeb62-2c58-4600-a9e1-22cd82316dde',
   'name': 'Jalar Holley',
   'jersey': '97',
   'last_name': 'Holley',
   'first_name': 'Jalar',
   'abbr_name': 'J.Holley',
   'weight': 315.0,
   'height': 75,
   'position': 'DL',
   'birth_place': 'Queens, NY, USA',
   'status': 'ACT',
   'eligibility': 'GR'},
  {'id': '11723729-0313-461b-b439-f160fed91704',
   'name': 'Thai Baldwin',
   'jersey': '5',
   'last_name': 'Baldwin',
   'first_name': 'Thai',
   'abbr_name': 'T.Baldwin',
   'weight': 180.0,
   'height': 71,
   'position': 'DB',
   'birth_place': 'Hampton, VA, USA',
   'status': 'ACT',
   'eligibility': 'SR'},
  {'id': '1775d530-984f-11ed-bcb1-e72bf2180e36',
   'name': 'Dwight Bootle II',
   'jersey': '11',
   'last_name': 'Bootle',
   'first_name': 'Dwight',
   'abbr_name': 'D.Bootle',
   'weight': 180.0,
   'height': 70,
   'position': 'DB',
   'birth_place': 'Miami, FL, USA',
   'status': 'ACT',
   'eligibility': 'JR',
   'name_suffix': 'II'},
  {'id': '188ad070-f96f-11ed-a7e6-5b9f42549cff',
   'name': 'Kadin Schmitz',
   'jersey': '19',
   'last_name': 'Schmitz',
   'first_name': 'Kadin',
   'abbr_name': 'K.Schmitz',
   'weight': 235.0,
   'height': 73,
   'position': 'LB',
   'birth_place': 'Ashland, OH, USA',
   'status': 'ACT',
   'eligibility': 'JR'},
  {'id': '1d6051f0-c602-11ee-a136-e78d78ebe5d6',
   'name': 'Dom Silvia',
   'jersey': '67',
   'last_name': 'Silvia',
   'first_name': 'Dom',
   'abbr_name': 'D.Silvia',
   'weight': 320.0,
   'height': 78,
   'position': 'OL',
   'birth_place': 'Bridgewater, MA, USA',
   'status': 'ACT',
   'eligibility': 'FR'},
  {'id': '1eb56c90-c600-11ee-a136-e78d78ebe5d6',
   'name': 'Miles Burris',
   'jersey': '88',
   'last_name': 'Burris',
   'first_name': 'Miles',
   'abbr_name': 'M.Burris',
   'weight': 200.0,
   'height': 74,
   'position': 'WR',
   'birth_place': 'Jacksonville, FL, USA',
   'status': 'ACT',
   'eligibility': 'SO'},
  {'id': '2051aa40-9002-11ec-8556-6fa97bcffaf0',
   'name': "Ta'ir Brooks",
   'jersey': '9',
   'last_name': 'Brooks',
   'first_name': "Ta'ir",
   'abbr_name': 'T.Brooks',
   'weight': 210.0,
   'height': 75,
   'position': 'WR',
   'birth_place': 'Oakland, CA, USA',
   'status': 'ACT',
   'eligibility': 'SR'},
  {'id': '24521cb3-4799-4130-903a-07e2add18eaf',
   'name': 'Mason Bowers',
   'jersey': '57',
   'last_name': 'Bowers',
   'first_name': 'Mason',
   'abbr_name': 'M.Bowers',
   'weight': 310.0,
   'height': 76,
   'position': 'OL',
   'birth_place': 'High Point, NC, USA',
   'status': 'ACT',
   'eligibility': 'SR'},
  {'id': '25379af0-5daa-11f0-9d42-bbf85d3c3e0a',
   'name': 'Aiden Bui',
   'jersey': '84',
   'last_name': 'Bui',
   'first_name': 'Aiden',
   'abbr_name': 'A.Bui',
   'weight': 160.0,
   'height': 69,
   'position': 'K',
   'birth_place': 'Pearland, TX, USA',
   'status': 'ACT',
   'eligibility': 'FR'},
  {'id': '27c2d1c0-993c-11ed-961f-17b5255c6c3e',
   'name': 'Adam Hopkins IV',
   'jersey': '14',
   'last_name': 'Hopkins',
   'first_name': 'Adam',
   'abbr_name': 'A.Hopkins',
   'weight': 180.0,
   'height': 72,
   'position': 'WR',
   'birth_place': 'Thomasville, GA, USA',
   'status': 'ACT',
   'eligibility': 'SO',
   'name_suffix': 'IV'},
  {'id': '28794af0-c06d-11ee-86a6-9d30df5b5397',
   'name': 'Stellan Bowman',
   'jersey': '30',
   'last_name': 'Bowman',
   'first_name': 'Stellan',
   'abbr_name': 'S.Bowman',
   'weight': 230.0,
   'height': 72,
   'position': 'LB',
   'birth_place': 'Grand Rapids, MI, USA',
   'status': 'ACT',
   'eligibility': 'SO'},
  {'id': '291247a0-5dab-11f0-ae7d-0b5add8e8157',
   'name': 'Luke McNulty',
   'jersey': '16',
   'last_name': 'McNulty',
   'first_name': 'Luke',
   'abbr_name': 'L.McNulty',
   'weight': 185.0,
   'height': 74,
   'position': 'QB',
   'birth_place': 'Pasadena, CA, USA',
   'status': 'ACT',
   'eligibility': 'FR'},
  {'id': '2a0f33d5-3ddc-4eac-930e-250b630ac785',
   'name': 'Randy Franklin',
   'jersey': '0',
   'last_name': 'Franklin',
   'first_name': 'Randy',
   'abbr_name': 'R.Franklin',
   'weight': 200.0,
   'height': 72,
   'position': 'DB',
   'birth_place': 'Fayetteville, NC, USA',
   'status': 'ACT',
   'eligibility': 'SR'},
  {'id': '2c0ef5c8-26e3-495a-83c1-c5dfaf726332',
   'name': 'Derrick Edwards',
   'jersey': '8',
   'last_name': 'Edwards',
   'first_name': 'Derrick',
   'abbr_name': 'D.Edwards',
   'weight': 185.0,
   'height': 71,
   'position': 'DB',
   'birth_place': 'Miami, FL, USA',
   'status': 'ACT',
   'eligibility': 'SR'},
  {'id': '3423a3a5-3ffc-4702-bae4-d016cb9c55bb',
   'name': 'Colby Garfield',
   'jersey': '39',
   'last_name': 'Garfield',
   'first_name': 'Colby',
   'abbr_name': 'C.Garfield',
   'weight': 235.0,
   'height': 74,
   'position': 'LS',
   'birth_place': 'Clemmons, NC, USA',
   'status': 'ACT',
   'eligibility': 'SR'},
  {'id': '370cf600-c600-11ee-a136-e78d78ebe5d6',
   'name': 'Grant Laskey',
   'jersey': '83',
   'last_name': 'Laskey',
   'first_name': 'Grant',
   'abbr_name': 'G.Laskey',
   'weight': 240.0,
   'height': 77,
   'position': 'TE',
   'birth_place': 'Valdosta, GA, USA',
   'status': 'ACT',
   'eligibility': 'FR'},
  {'id': '37ed7580-c601-11ee-a136-e78d78ebe5d6',
   'name': 'Cornell Allen',
   'jersey': '28',
   'last_name': 'Allen',
   'first_name': 'Cornell',
   'abbr_name': 'C.Allen',
   'weight': 190.0,
   'height': 70,
   'position': 'DB',
   'birth_place': 'Richmond, VA, USA',
   'status': 'ACT',
   'eligibility': 'FR'},
  {'id': '39f1cb80-5510-11ef-830c-e539946aedf9',
   'name': 'Jake Davids',
   'jersey': '41',
   'last_name': 'Davids',
   'first_name': 'Jake',
   'abbr_name': 'J.Davids',
   'weight': 180.0,
   'height': 69,
   'position': 'RB',
   'birth_place': 'Charlotte, NC, USA',
   'status': 'ACT',
   'eligibility': 'FR'},
  {'id': '3b6ea290-edf9-11ee-8f73-394a1207192d',
   'name': 'Seth Franklin',
   'jersey': '33',
   'last_name': 'Franklin',
   'first_name': 'Seth',
   'abbr_name': 'S.Franklin',
   'weight': 170.0,
   'height': 70,
   'position': 'DB',
   'birth_place': 'Fayetteville, NC, USA',
   'status': 'ACT',
   'eligibility': 'SO'},
  {'id': '3ece6d70-0fd2-11f0-afee-8b37bdbeabef',
   'name': 'KD Hunter-Gibson',
   'jersey': '11',
   'last_name': 'Hunter-Gibson',
   'first_name': 'KD',
   'abbr_name': 'K.Hunter-Gibson',
   'weight': 190.0,
   'height': 72,
   'position': 'WR',
   'birth_place': 'Tupelo, MS, USA',
   'status': 'ACT',
   'eligibility': 'JR'},
  {'id': '3efdb810-0b7f-11ec-88fe-27c45d3b5fb1',
   'name': 'Kristos Fernandez',
   'jersey': '75',
   'last_name': 'Fernandez',
   'first_name': 'Kristos',
   'abbr_name': 'K.Fernandez',
   'weight': 300.0,
   'height': 77,
   'position': 'OL',
   'birth_place': 'New Hyde Park, NY, USA',
   'status': 'ACT',
   'eligibility': 'SR'},
  {'id': '3fcec0e0-c603-11ee-a136-e78d78ebe5d6',
   'name': 'JJ Okate',
   'jersey': '42',
   'last_name': 'Okate',
   'first_name': 'JJ',
   'abbr_name': 'J.Okate',
   'weight': 215.0,
   'height': 75,
   'position': 'LB',
   'birth_place': 'Fort Worth, TX, USA',
   'status': 'ACT',
   'eligibility': 'JR'},
  {'id': '4158e4f0-8f3b-11ec-9f33-1965c9c46e44',
   'name': 'Tyler Gibson',
   'jersey': '74',
   'last_name': 'Gibson',
   'first_name': 'Tyler',
   'abbr_name': 'T.Gibson',
   'weight': 310.0,
   'height': 77,
   'position': 'OL',
   'birth_place': 'Alpharetta, GA, USA',
   'status': 'ACT',
   'eligibility': 'JR'},
  {'id': '432ada80-0ad0-11ec-9466-75df4dae1e10',
   'name': 'Braden Mullen',
   'jersey': '44',
   'last_name': 'Mullen',
   'first_name': 'Braden',
   'abbr_name': 'B.Mullen',
   'weight': 245.0,
   'height': 76,
   'position': 'DL',
   'birth_place': 'Glenview, IL, USA',
   'status': 'ACT',
   'eligibility': 'SR'},
  {'id': '491c0c80-c06c-11ee-86a6-9d30df5b5397',
   'name': 'Parker Startz',
   'jersey': '36',
   'last_name': 'Startz',
   'first_name': 'Parker',
   'abbr_name': 'P.Startz',
   'weight': 240.0,
   'height': 75,
   'position': 'LB',
   'birth_place': 'Mokena, IL, USA',
   'status': 'ACT',
   'eligibility': 'FR'},
  {'id': '4953a160-50f2-11ef-998b-630f80fc0e3b',
   'name': 'Xavier Miles',
   'jersey': '58',
   'last_name': 'Miles',
   'first_name': 'Xavier',
   'abbr_name': 'X.Miles',
   'weight': 320.0,
   'height': 75,
   'position': 'DL',
   'birth_place': 'Orange, NJ, USA',
   'status': 'ACT',
   'eligibility': 'SO'},
  {'id': '49eaf800-8a82-11ec-9b75-81689e0737c4',
   'name': 'CJ Stokes',
   'jersey': '23',
   'last_name': 'Stokes',
   'first_name': 'CJ',
   'abbr_name': 'C.Stokes',
   'weight': 200.0,
   'height': 70,
   'position': 'RB',
   'birth_place': 'Columbia, SC, USA',
   'status': 'ACT',
   'eligibility': 'JR'},
  {'id': '4b9b73f0-9daf-11ed-affb-d7de6d7f398d',
   'name': 'Grayson Loftis',
   'jersey': '12',
   'last_name': 'Loftis',
   'first_name': 'Grayson',
   'abbr_name': 'G.Loftis',
   'weight': 215.0,
   'height': 75,
   'position': 'QB',
   'birth_place': 'Gaffney, SC, USA',
   'status': 'ACT',
   'eligibility': 'SO'},
  {'id': '4f6b30b0-550f-11ef-830c-e539946aedf9',
   'name': 'Kameron Manley',
   'jersey': '17',
   'last_name': 'Manley',
   'first_name': 'Kameron',
   'abbr_name': 'K.Manley',
   'weight': 170.0,
   'height': 69,
   'position': 'DB',
   'birth_place': 'Raleigh, NC, USA',
   'status': 'ACT',
   'eligibility': 'FR'},
  {'id': '4fd93be0-1a61-11ed-b017-a34bdbc437a0',
   'name': 'Jake Young',
   'jersey': '87',
   'last_name': 'Young',
   'first_name': 'Jake',
   'abbr_name': 'J.Young',
   'weight': 240.0,
   'height': 75,
   'position': 'TE',
   'birth_place': 'Waxhaw, NC, USA',
   'status': 'ACT',
   'eligibility': 'JR'},
  {'id': '500a86f1-d63c-4dc8-b49e-68430ace70eb',
   'name': 'Jesse Ramil',
   'jersey': '68',
   'last_name': 'Ramil',
   'first_name': 'Jesse',
   'abbr_name': 'J.Ramil',
   'weight': 300.0,
   'height': 76,
   'position': 'OL',
   'birth_place': 'Binghamton, NY, USA',
   'status': 'ACT',
   'eligibility': 'SR'},
  {'id': '50955c00-5513-11ef-830c-e539946aedf9',
   'name': 'Andrew Bennett',
   'jersey': '92',
   'last_name': 'Bennett',
   'first_name': 'Andrew',
   'abbr_name': 'A.Bennett',
   'weight': 180.0,
   'height': 73,
   'position': 'P',
   'birth_place': 'Thomasville, GA, USA',
   'status': 'ACT',
   'eligibility': 'FR'},
  {'id': '53f4c5e0-f636-11ec-a454-0195ac6142b0',
   'name': 'Jamarrion Solomon',
   'jersey': '51',
   'last_name': 'Solomon',
   'first_name': 'Jamarrion',
   'abbr_name': 'J.Solomon',
   'weight': 270.0,
   'height': 72,
   'position': 'DL',
   'birth_place': 'Miami, FL, USA',
   'status': 'ACT',
   'eligibility': 'JR'},
  {'id': '5844d160-94d6-11ec-9a13-bdad2320c674',
   'name': 'DJ Burgess',
   'jersey': '7',
   'last_name': 'Burgess',
   'first_name': 'DJ',
   'abbr_name': 'D.Burgess',
   'weight': 270.0,
   'height': 74,
   'position': 'DL',
   'birth_place': 'Lafayette County, MS, USA',
   'status': 'ACT',
   'eligibility': 'JR'},
  {'id': '594a3360-0641-11ee-b45e-43d642150b47',
   'name': 'Jason Jeffares',
   'jersey': '85',
   'last_name': 'Jeffares',
   'first_name': 'Jason',
   'abbr_name': 'J.Jeffares',
   'weight': 230.0,
   'height': 75,
   'position': 'TE',
   'birth_place': 'Charlotte, NC, USA',
   'status': 'ACT',
   'eligibility': 'SO'},
  {'id': '5b6c4630-f899-11ec-8190-074ed0b20d38',
   'name': 'Treyveon McGee',
   'jersey': '2',
   'last_name': 'McGee',
   'first_name': 'Treyveon',
   'abbr_name': 'T.McGee',
   'weight': 200.0,
   'height': 75,
   'position': 'DB',
   'birth_place': 'Ypsilanti, MI, USA',
   'status': 'ACT',
   'eligibility': 'GR'},
  {'id': '5be87f40-c5ff-11ee-a136-e78d78ebe5d6',
   'name': 'Evan Austin',
   'jersey': '82',
   'last_name': 'Austin',
   'first_name': 'Evan',
   'abbr_name': 'E.Austin',
   'weight': 175.0,
   'height': 73,
   'position': 'WR',
   'birth_place': 'Frederick, MD, USA',
   'status': 'ACT',
   'eligibility': 'FR'},
  {'id': '5e6b81a0-5dab-11f0-84a7-571b82393123',
   'name': 'Chris Morton',
   'jersey': '90',
   'last_name': 'Morton',
   'first_name': 'Chris',
   'abbr_name': 'C.Morton',
   'weight': 220.0,
   'height': 75,
   'position': 'DL',
   'birth_place': 'Wilmington, NC, USA',
   'status': 'ACT',
   'eligibility': 'FR'},
  {'id': '6247d884-40c6-4af5-8276-16cc34a37f25',
   'name': 'Breon Noel',
   'jersey': '21',
   'last_name': 'Noel',
   'first_name': 'Breon',
   'abbr_name': 'B.Noel',
   'weight': 200.0,
   'height': 70,
   'position': 'DB',
   'birth_place': 'Baltimore, MD, USA',
   'status': 'ACT',
   'eligibility': 'SR'},
  {'id': '64fb7230-5dcb-11f0-915e-91585bd5e9e7',
   'name': 'Macyo Williams',
   'jersey': '15',
   'last_name': 'Williams',
   'first_name': 'Macyo',
   'abbr_name': 'M.Williams',
   'weight': 280.0,
   'height': 73,
   'position': 'DL',
   'birth_place': 'Akron, OH, USA',
   'status': 'ACT',
   'eligibility': 'SR'},
  {'id': '67ad5355-7dac-47b1-8a50-8579f464cf0e',
   'name': "Ja'Qurious Conley",
   'jersey': '6',
   'last_name': 'Conley',
   'first_name': "Ja'Qurious",
   'abbr_name': 'J.Conley',
   'weight': 215.0,
   'height': 73,
   'position': 'DB',
   'birth_place': 'Jacksonville, NC, USA',
   'status': 'ACT',
   'eligibility': 'SR'},
  {'id': '6814857f-8b26-4034-9770-8a32f8eb5f87',
   'name': 'Joey Bearns III',
   'jersey': '0',
   'last_name': 'Bearns',
   'first_name': 'Joey',
   'abbr_name': 'J.Bearns',
   'weight': 280.0,
   'height': 73,
   'position': 'TE',
   'birth_place': 'Calvert County, MD, USA',
   'status': 'ACT',
   'eligibility': 'SR',
   'name_suffix': 'III'},
  {'id': '6a685880-d8a9-11ee-b4ab-d9199a278cc1',
   'name': 'Cameren Smith',
   'jersey': '25',
   'last_name': 'Smith',
   'first_name': 'Cameren',
   'abbr_name': 'C.Smith',
   'weight': 225.0,
   'height': 72,
   'position': 'RB',
   'birth_place': 'Claymont, DE, USA',
   'status': 'ACT',
   'eligibility': 'SR'},
  {'id': '6cdd7500-9fc1-11ec-8d3e-25cbf0d2c00a',
   'name': 'Jorel Liverpool',
   'jersey': '10',
   'last_name': 'Liverpool',
   'first_name': 'Jorel',
   'abbr_name': 'J.Liverpool',
   'weight': 255.0,
   'height': 78,
   'position': 'DL',
   'birth_place': 'Brooklyn, NY, USA',
   'status': 'ACT',
   'eligibility': 'SR'},
  {'id': '6f7bdaaa-138f-4fec-8a61-6c1be48511c3',
   'name': 'Henry Rutledge',
   'jersey': '21',
   'last_name': 'Rutledge',
   'first_name': 'Henry',
   'abbr_name': 'H.Rutledge',
   'weight': 185.0,
   'height': 68,
   'position': 'RB',
   'birth_place': 'Charlotte, NC, USA',
   'status': 'ACT',
   'eligibility': 'SR'},
  {'id': '71811820-538b-11ef-b0d0-47e136320378',
   'name': 'Caleb Irving',
   'jersey': '85',
   'last_name': 'Irving',
   'first_name': 'Caleb',
   'abbr_name': 'C.Irving',
   'weight': 290.0,
   'height': 73,
   'position': 'DL',
   'birth_place': 'Glenn Heights, TX, USA',
   'status': 'ACT',
   'eligibility': 'FR'},
  {'id': '7e6c1e60-550f-11ef-830c-e539946aedf9',
   'name': 'Aydan Cannon',
   'jersey': '27',
   'last_name': 'Cannon',
   'first_name': 'Aydan',
   'abbr_name': 'A.Cannon',
   'weight': 175.0,
   'height': 70,
   'position': 'DB',
   'birth_place': 'Charlotte, NC, USA',
   'status': 'ACT',
   'eligibility': 'FR'},
  {'id': '7f827cf6-3e26-4b20-8b59-53c8295b056c',
   'name': 'Zion Shockley',
   'jersey': '18',
   'last_name': 'Shockley',
   'first_name': 'Zion',
   'abbr_name': 'Z.Shockley',
   'weight': 285.0,
   'height': 76,
   'position': 'DL',
   'birth_place': 'Ocean City, MD, USA',
   'status': 'ACT',
   'eligibility': 'SR'},
  {'id': '7ffa1fa0-0fd3-11f0-a080-c54fe575f217',
   'name': 'Jaylon Johnson',
   'jersey': '24',
   'last_name': 'Johnson',
   'first_name': 'Jaylon',
   'abbr_name': 'J.Johnson',
   'weight': 250.0,
   'height': 76,
   'position': 'DL',
   'birth_place': 'Antioch, TN, USA',
   'status': 'ACT',
   'eligibility': 'JR'},
  {'id': '8091cd90-c601-11ee-a136-e78d78ebe5d6',
   'name': 'Kendal Brown',
   'jersey': '14',
   'last_name': 'Brown',
   'first_name': 'Kendal',
   'abbr_name': 'K.Brown',
   'weight': 235.0,
   'height': 76,
   'position': 'DL',
   'birth_place': 'Savannah, GA, USA',
   'status': 'ACT',
   'eligibility': 'FR'},
  {'id': '84cca790-0fd9-11f0-b450-dbc542057566',
   'name': 'Devin Davis',
   'jersey': '58',
   'last_name': 'Davis',
   'first_name': 'Devin',
   'abbr_name': 'D.Davis',
   'weight': 310.0,
   'height': 75,
   'position': 'OL',
   'birth_place': 'Atlanta, GA, USA',
   'status': 'ACT',
   'eligibility': 'JR'},
  {'id': '89586320-5daa-11f0-8856-e339958c5358',
   'name': 'Jaylen Doss',
   'jersey': '99',
   'last_name': 'Doss',
   'first_name': 'Jaylen',
   'abbr_name': 'J.Doss',
   'weight': 270.0,
   'height': 74,
   'position': 'DL',
   'birth_place': 'Petal, MS, USA',
   'status': 'ACT',
   'eligibility': 'FR'},
  {'id': '89cd1d40-74bc-11f0-addf-d95e01ada62f',
   'name': 'Chris Rivens',
   'jersey': '84',
   'last_name': 'Rivens',
   'first_name': 'Chris',
   'abbr_name': 'C.Rivens',
   'weight': 185.0,
   'height': 75,
   'position': 'WR',
   'birth_place': 'Charlotte, NC, USA',
   'status': 'ACT',
   'eligibility': 'FR'},
  {'id': '8ad369c0-e2e2-11ec-b618-d515fdfb727f',
   'name': 'Javen Nicholas',
   'jersey': '5',
   'last_name': 'Nicholas',
   'first_name': 'Javen',
   'abbr_name': 'J.Nicholas',
   'weight': 190.0,
   'height': 69,
   'position': 'WR',
   'birth_place': 'New Orleans, LA, USA',
   'status': 'ACT',
   'eligibility': 'JR'},
  {'id': '8b539af0-c9e5-11ee-998a-fb9969bce195',
   'name': 'Curtis Simpson',
   'jersey': '32',
   'last_name': 'Simpson',
   'first_name': 'Curtis',
   'abbr_name': 'C.Simpson',
   'weight': 230.0,
   'height': 76,
   'position': 'DL',
   'birth_place': 'Shelby, NC, USA',
   'status': 'ACT',
   'eligibility': 'FR'},
  {'id': '9041fb00-0a99-11ec-8b62-01d2825cc870',
   'name': 'Rod Green',
   'jersey': '50',
   'last_name': 'Green',
   'first_name': 'Rod',
   'abbr_name': 'R.Green',
   'weight': 315.0,
   'height': 77,
   'position': 'OL',
   'birth_place': 'Dayton, OH, USA',
   'status': 'ACT',

In [10]:
print(type(roaster_info["founded"]))
print(type(roaster_info["championships_won"]))
print(type(roaster_info["venue"]['zip']))

<class 'int'>
<class 'int'>
<class 'str'>

In [18]:
import pandas as pd

In [54]:
venue_df = pd.DataFrame(columns=["venue_id", "name","city", "state", "country", "zip", "address", "capacity", "surface", "roof_type", "latitude", "longitude"])
conferene_df = pd.DataFrame(columns=["conference_id", "name", "alias"])
divison_df = pd.DataFrame(columns=["division_id", "name", "alias"])
teams_df = pd.DataFrame(columns= ['team_id', 'market', 'name', 'alias', 'founded', 'mascot', 'fight_song', 'championships_won', 'conference_id', 'division_id', 'venue_id'])
players_df = pd.DataFrame(columns=['player_id', 'first_name', 'last_name', 'abbr_name', 'birth_place', 'position', 'height', 'weight', 'status', 'eligibility', 'team_id'])
coaches_df = pd.DataFrame(columns=["coach_id", "full_name", "position", "team_id"])

In [44]:
from concurrent.futures import ThreadPoolExecutor, as_completed
import os

def _fetch_roaster(tid):
    try:
        return api_team_roasters(tid)
    except Exception as e:
        return {"id": tid, "_error": str(e)}

max_workers = min(50, (os.cpu_count() or 1) * 5, len(teams_id))
roasters_list = []
with ThreadPoolExecutor(max_workers=max_workers) as ex:
    futures = [ex.submit(_fetch_roaster, tid) for tid in teams_id]
    for i, fut in enumerate(as_completed(futures), 1):
        roasters_list.append(fut.result())
        if i % 50 == 0 or i == len(teams_id):
            print(f"Fetched {i}/{len(teams_id)}")

Fetched 50/535
Fetched 100/535
Fetched 150/535
Fetched 200/535
Fetched 250/535
Fetched 300/535
Fetched 350/535
Fetched 400/535
Fetched 450/535
Fetched 500/535
Fetched 535/535

In [49]:
roasters_list[0]

{'id': '5fb09809-05fa-42cf-8636-311b8b4c2c04',
 'name': 'Bears',
 'market': 'Pikeville',
 'alias': 'UOP',
 'franchise': {'id': '5fb09809-05fa-42cf-8636-311b8b4c2c04', 'name': 'Bears'},
 'division': {'id': 'a590be2a-ad78-4ca1-818b-a14b4c369100',
  'name': 'NAIA',
  'alias': 'NAIA'},
 'conference': {'id': 'eb7f8197-a82d-4ab3-831b-5a2c647618e0',
  'name': 'Mid-South Conference',
  'alias': 'MID-SOUTH'},
 'coaches': [],
 'players': [],
 '_comment': 'Generation started @ 2025-10-22 17:03:39 +0000 ended @ 2025-10-22 17:03:39 +0000'}

In [55]:
def _get(d, keys, default=None):
    """Safe nested dict getter: _get(d, ['a','b']) -> d['a']['b'] or default."""
    cur = d
    for k in keys:
        if not isinstance(cur, dict) or k not in cur:
            return default
        cur = cur[k]
    return cur

for roaster in roasters_list:
    # skip non-roaster results (e.g. error messages)
    if not isinstance(roaster, dict) or 'id' not in roaster:
        continue

    venue_dict = {
        'venue_id': _get(roaster, ['venue', 'id']),
        'name': _get(roaster, ['venue', 'name']),
        'city': _get(roaster, ['venue', 'city']),
        'state': _get(roaster, ['venue', 'state']),
        'country': _get(roaster, ['venue', 'country']),
        'zip': _get(roaster, ['venue', 'zip']),
        'address': _get(roaster, ['venue', 'address']),
        'capacity': _get(roaster, ['venue', 'capacity']),
        'surface': _get(roaster, ['venue', 'surface']),
        'roof_type': _get(roaster, ['venue', 'roof_type']),
        'latitude': _get(roaster, ['venue', 'location', 'lat']),
        'longitude': _get(roaster, ['venue', 'location', 'lng']),
    }

    conference_dict = {
        'conference_id': _get(roaster, ['conference', 'id']),
        'name': _get(roaster, ['conference', 'name']),
        'alias': _get(roaster, ['conference', 'alias']),
    }

    division_dict = {
        'division_id': _get(roaster, ['division', 'id']),
        'name': _get(roaster, ['division', 'name']),
        'alias': _get(roaster, ['division', 'alias']),
    }

    teams_dict = {
        'team_id': _get(roaster, ['id']),
        'market': _get(roaster, ['market']),
        'name': _get(roaster, ['name']),
        'alias': _get(roaster, ['alias']),
        'founded': _get(roaster, ['founded']),
        'mascot': _get(roaster, ['mascot']),
        'fight_song': _get(roaster, ['fight_song']),
        'championships_won': _get(roaster, ['championships_won']),
        'conference_id': _get(roaster, ['conference', 'id']),
        'division_id': _get(roaster, ['division', 'id']),
        'venue_id': _get(roaster, ['venue', 'id']),
    }

    # Insert only when id is present and not already in target DF
    if venue_dict['venue_id'] is not None and venue_dict['venue_id'] not in venue_df['venue_id'].values:
        venue_df.loc[len(venue_df)] = venue_dict

    if conference_dict['conference_id'] is not None and conference_dict['conference_id'] not in conferene_df['conference_id'].values:
        conferene_df.loc[len(conferene_df)] = conference_dict

    if division_dict['division_id'] is not None and division_dict['division_id'] not in divison_df['division_id'].values:
        divison_df.loc[len(divison_df)] = division_dict

    if teams_dict['team_id'] is not None and teams_dict['team_id'] not in teams_df['team_id'].values:
        teams_df.loc[len(teams_df)] = teams_dict

    for coach in roaster.get('coaches', []) or []:
        c = {
            'coach_id': _get(coach, ['id']),
            'full_name': _get(coach, ['full_name']),
            'position': _get(coach, ['position']),
            'team_id': teams_dict['team_id'],
        }
        if c['coach_id'] is not None and c['coach_id'] not in coaches_df['coach_id'].values:
            coaches_df.loc[len(coaches_df)] = c

    for player in roaster.get('players', []) or []:
        p = {
            'player_id': _get(player, ['id']),
            'first_name': _get(player, ['first_name']),
            'last_name': _get(player, ['last_name']),
            'abbr_name': _get(player, ['abbr_name']),
            'birth_place': _get(player, ['birth_place']),
            'position': _get(player, ['position']),
            'height': _get(player, ['height']),
            'weight': _get(player, ['weight']),
            'status': _get(player, ['status']),
            'eligibility': _get(player, ['eligibility']),
            'team_id': teams_dict['team_id'],
        }
        if p['player_id'] is not None and p['player_id'] not in players_df['player_id'].values:
            players_df.loc[len(players_df)] = p

/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p
/tmp/ipykernel_303205/1783081211.py:94: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_df.loc[len(players_df)] = p

In [56]:
venue_df

,venue_id,name,city,state,country,zip,address,capacity,surface,roof_type,latitude,longitude
0,eeee7a86-39bc-4f36-bdfe-f1cf2d45d695,Christy Mathewson-Memorial Stadium,Lewisburg,PA,USA,17837,Christy Mathewson Drive,13100,artificial,outdoor,40.9518,-76.8854
1,889f7722-95bd-413a-9b1b-bbec46e490c7,Kyle Field,College Station,TX,USA,77843,756 Houston Street,102733,turf,outdoor,30.6101,-96.3401
2,bda80157-308a-4156-9eb1-b1c6d204292f,Brown Field,Valparaiso,IN,USA,46383,1094 Laporte Avenue,5000,artificial,outdoor,41.4656,-87.0479
3,170baa73-abb9-4247-8aea-190c51233841,Aggie Memorial Stadium,Las Cruces,NM,USA,88003,1810 E University Avenue,30343,artificial,outdoor,32.2795,-106.7417
4,5189127d-ea58-4917-84b8-8456f3abb8b2,Jerry Richardson Stadium,Charlotte,NC,USA,28262,9201 University City Boulevard,15314,artificial,outdoor,35.3105,-80.7401
5,b6893998-4d68-45d8-b7df-da763712f785,Five Star Stadium,Macon,GA,USA,31201,1327 Stadium Drive,10200,artificial,outdoor,32.8268,-83.6529
6,381d6495-10ff-403b-9838-64e495422fee,Houck Field,Cape Girardeau,MO,USA,63701,920 Broadway Street,11015,artificial,outdoor,37.3094,-89.5311
7,0f0b1691-1f01-41f4-a34d-4f34ac0dc413,Alamodome,San Antonio,TX,USA,78203,100 Montana Street,65000,artificial,dome,29.4170,-98.4788
8,d1560e06-bfbc-4a52-94dd-253949d52cee,Jahna Field,Winter Haven,FL,USA,33880,5001 FL-540,400,turf,outdoor,28.0120,-81.8000
9,43db741f-27bd-4ddd-95de-012f663a36bc,Glass Bowl,Toledo,OH,USA,43606,3044 North Glass Bowl Drive,26038,artificial,outdoor,41.6573,-83.6136
10,052560ff-9d45-4618-b18f-31e50b923562,Kenneth P. LaValle Stadium,Stony Brook,NY,USA,11794,100 Nicholls Road,12300,artificial,outdoor,40.9188,-73.1243
11,68b3c28c-bef4-464c-9f58-7e0729df1ad3,Hameline Field at Wagner College Stadium,Staten Island,NY,USA,10301,1 Campus Road,3300,artificial,outdoor,40.6172,-74.0955

In [57]:
divison_df

                            division_id          name  alias
0  a590be2a-ad78-4ca1-818b-a14b4c369100          NAIA   NAIA
1  6457fab7-b7f1-4f6b-84be-cd713e36070d          I-AA    FCS
2  43d3cede-6b8f-4158-bc7f-c3c7365e5b32           I-A    FBS
3  0c37e018-9a60-44dd-88af-e28ce4a4184b   Division II     D2
4  5f7c0a15-2b79-4ca4-b320-136d9495d1f7  Division III     D3
5  aa5db6ca-f9b2-4ab9-8e07-6a249ddf0c82         USCAA  USCAA

In [58]:
conferene_df

,conference_id,name,alias
0,eb7f8197-a82d-4ab3-831b-5a2c647618e0,Mid-South Conference,MID-SOUTH
1,034e3dea-6190-45d6-8dc6-ca52ba2d65c0,Patriot League,PATRIOT-LEAGUE
2,c7a491c8-d0f2-4ca1-9403-f82db4452dd1,Southeastern,SEC
3,c320231c-eec0-4b9c-b09e-016280763cf2,Pioneer,PIONEER
4,359cd6eb-de34-4ae2-90a2-6e80e4d4ff62,Conference USA,CONFERENCE-USA
5,eecdc945-d69b-489a-99e4-a2d2bb16bb24,Great American Conference,GAC
6,9a47496a-d965-4a65-b2cc-b5e46081af56,Liberty League,Liberty
7,49602742-5d66-412e-8a58-ab1e613d593c,American,AAC
8,a15aa3a4-6fc3-4a25-be98-d0059836a060,Southern,SOUTHERN
9,84a842c1-e82f-11ed-b016-0fa2d9c64913,Big South-OVC,BIG-SOUTH-OVC
10,442a3894-7884-4de6-b564-f9c44ddb4a04,Mid-America Intercollegiate Athletics Association,MIAA
11,261eaf93-7726-4749-8581-06233b125d98,The Sun Conference,TSC
12,4315f6ac-97c0-49a6-b218-a8768ab65ea7,Mid-American,MID-AMERICAN
13,5cef910f-3897-4386-913e-ca840553dd24,Upper Midwest Athletic Conference,UMAC
14,ab0298d3-527e-40c8-ae4b-f328e5303aa6,USCAA Independents,USCAA-INDEPENDENTS
15,7a56b889-96ba-4ec2-8fe0-0b2091ff05ac,Coastal Athletic Association,CAA
16,0b87cfb1-c1c5-4033-bbc2-4890d344b97f,New England Football Conference,NEFC
17,f8037397-7826-4ad9-a5d4-15868fae76df,Northeast,NORTHEAST

In [59]:
coaches_df

,coach_id,full_name,position,team_id
0,91a44aab-cc88-4eff-8058-10681070f698,Dave Cecchini,Head Coach,3522e1d5-7dc6-4586-a14f-276f56e0c60e
1,42c7f7e0-5a8e-11ec-94c4-913b0a0e0ad8,Mike Elko,Head Coach,d5199a36-7f26-4c3b-be48-9599039e232c
2,bfa672a0-bd73-11ef-989a-c9b4cf8b62d8,Andy Waddle,Head Coach,59d0852a-b283-4829-af63-60553fbafdeb
3,92672703-eb7d-4c09-9220-99ecb1217753,Tony Sanchez,Head Coach,f6f4a672-6368-45aa-98d0-3756da844114
4,35ccf611-95e3-40b0-8de1-986a72aa5020,Tim Albin,Head Coach,30abfee7-57a7-4984-9a1c-55cb28970da3
5,56445fb0-b604-11ee-a4ff-07fd0755a39b,Mike Jacobs,Head Coach,cc1b918c-1523-4412-8b1e-2219d88f11b8
6,c055810a-383b-4844-91af-0f17e56bf31c,Tom Matukewicz,Head Coach,4eb165ff-ebe8-4a9e-8a57-34ec90f112e4
7,093855e6-a27c-4e5f-992c-fe704ec9e4f7,Jeff Traylor,Head Coach,b845a41f-2606-478f-a458-3fee79588ad8
8,54dbd7c7-c776-48d0-ba98-404ecb5068c0,Darrin Chiaverini,Head Coach,72566033-9632-432f-b63a-3942e54bd7c5
9,80d0eb70-8562-11f0-ae59-6d7d8b3605e6,Diaelleo Burks,Head Coach,2ed1462d-6670-4094-a86d-d723ae3b1886
10,cbf48da6-c269-46a4-b628-a0a25173df6f,Jason Candle,Head Coach,692e1f0e-3c3a-4223-b2cf-7bbc58cf4977
11,90449530-99b8-11ee-988a-0f20826a7b60,Billy Cosh,Head Coach,0fe698d9-b78e-4da5-bc92-c45d84671082
12,bea0afd0-844f-11f0-89b0-cf12be9f04ac,Chris Norwell,Head Coach,f2874e00-e446-11ec-997e-b9b31b9613e9
13,31f1fd5c-e538-4bc8-9bbd-443285773352,Tom Masella,Head Coach,a676268a-159e-4625-bb5d-b3929c1f67f6

In [63]:
print(players_df.head())
# print(players_df.tail())

                              player_id first_name last_name   abbr_name  \
0  0096ac20-1cef-11ee-b92c-75a1a63d7aef      David  LoGrasso  D.LoGrasso
1  01bf7e30-5d92-11ef-9ce4-991abb7e5524     Carter    Enyard    C.Enyard
2  06fc5c30-c74b-11ed-9fa8-892eecf2a8d4        Sam  Milligan  S.Milligan
3  0b4feee0-3d2b-11ee-8590-a5df520e0ca3       Dara   Adeyemi   D.Adeyemi
4  0c358418-376b-468f-b5be-50fc6a198063      Ralph    Rucker    R.Rucker

           birth_place position height  weight status eligibility  \
0   Lynnfield, MA, USA       DL     74   315.0    ACT          JR
1   St. Louis, MO, USA       LB     74   230.0    ACT          SO
2  Swarthmore, PA, USA       WR     75   220.0    ACT          JR
3          Luton,, GBR       DL     79   280.0    ACT          JR
4       Lucas, TX, USA       QB     72   210.0    ACT          SR

                                team_id
0  3522e1d5-7dc6-4586-a14f-276f56e0c60e
1  3522e1d5-7dc6-4586-a14f-276f56e0c60e
2  3522e1d5-7dc6-4586-a14f-276f56e0c60e
3  3522e1d5-7dc6-4586-a14f-276f56e0c60e
4  3522e1d5-7dc6-4586-a14f-276f56e0c60e